html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
  }
  .grass, .sky, .road{
    position: relative;
  }
  .sky{
    height: 40%;
    background-color: skyblue;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,.33))
  }
  .grass{
    height: 30%;
    background-color: seagreen;
    background-image: linear-gradient(to top, rgba(255,255,255,0) 75%, rgba(255,255,255,.25))
  }
  .road{
    height: 30%;
    background: dimgrey;
    box-sizing: border-box;
    border-top: 10px solid grey;
    border-bottom: 10px solid grey;
    width: 100%;
  }
  
  .mario{
    position: absolute;
    top: -20px;
    left: -50px;
    animation-name: drive;
    animation-duration: 5s;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 5;
  }   
  
  .luigi{
    position: absolute;
    top: -20px;
    left: -50px;
    z-index: 55;
    animation-name:  drive;
    animation-duration: 6s;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
  }
  .cloud{
    position: absolute;
    top: 120px;
    left: 0;
  }
  .cloud2{
    position: absolute;
    top: 20px;
    right: 0;
    max-width: 200px;
  }
  .cloud,
  .cloud2{
    animation-name: cloud-move;
    animation-duration:10s;
    animation-direction: reverse;
    animation-fill-mode: none;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  .lines{
    box-sizing: border-box;
    border: 5px dashed #fff;
    height: 0px;
    width: 6000px;
    position: absolute;
    top: 45%;
    left: 0;
    animation-name: lines-move;
    animation-duration: 20s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes drive {
    0%{
      left:-150px;
    }
    100%{
        left: 1500px;
    }
  }
  @keyframes mario-jump {
  
    0%{
        left: 0px;
  
  
  
    }
    30% {transform: translateY(-50px);
         ;
  
    }
    31% {transform:translateY(-75px);
  
    }
    52% {transform:translateY(-100px);
      transform: translateX(0);
    }
    100%{
        left: 1900px;
  
  
    }
  }
  @keyframes cloud-move {
    0%{
      left: -150px;
    }
  
    100%{left: 1500px;
    }
  }
  @keyframes lines-move {
    0%{left: 0px;
  
    }
    100%{left: 0px;
  
  
    }
  
  }
  @keyframes v8 {
    0%{top:-170px;
      left:0px;
    }
  
    100%{top:-170px;
        left: 1700px;
    }
  }